html {
    font-size: 16px;
    box-sizing: border-box;
    font-family: "Chakra Petch", "Press Start 2P", "VT323", serif;
    scroll-behavior: smooth;
    line-height: 1.6;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: black;
    color: white;
    min-height: 99vh;
}

.light-mode {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#dialogue-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60vw;
    min-height: 80vh;
    overflow-y: auto; 
}

#dialogue-title {
    font-size: 3rem;
}

#close-info {
    top: 1rem;
    right: 1rem;
    position: absolute;
    padding: 1rem;
}

.dialogue-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dalogue-section > p {
    margin: 0.5rem;
}

#input-grids {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: between;
    gap: 5rem;
}

.input-grid {
    display: grid;
    grid-template-columns: 2rem 2rem 2rem 2rem;
    grid-template-rows: 2rem 2rem 2rem 2rem;
}

.input-grid > div {
    font-weight: bold;
    border: 1px solid black;
    display: grid;
    place-items: center;
}

#navigation {
    width: 13rem;
    position: absolute;
    top: 1rem;
    right: 2rem;

    display: flex;
    justify-content: space-between;
}

#github, #open-info, #invert {
    all: unset;
    cursor: pointer;
    background-color: inherit;
    padding: 1rem;
    border-radius: 15px
}

#title {
    margin-top: 1rem;
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

#canvas {
    margin-top: 1rem;
    border: 1px solid grey;
    border-radius: 1%;
    width: 60%;
}

#rom-select, #rom-load {
    font-family: inherit;
    font-weight: bold;
    display: inline-block;
    height: 3rem;
    border-radius: 5px;
}

#rom-select {
    padding: 0 2.4rem;
    margin-right: 1rem;
}

#rom-load {
    cursor: pointer;
    padding: 0 1.2rem;
}
